/* === ANY ELEMENT OVERRIDE ===*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* === FULL PAGE ===*/
html,
body {
    height: 100vh;

    overflow-x: hidden;
    font-size: 18px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ff0000;
    margin: 1em 0;
    padding: 0;
}

/* === NAV ===*/
.logo {
    /* padding: 23px 1px 1px 1px; */
    text-align: center;
    vertical-align: middle;
    background-color: #d9e3f1;

    border: none;
    box-shadow: 5px 5px 10px rgba(55, 94, 148, .2), -5px -5px 10px rgba(255, 255, 255, .4);
    transition: background-color .15s ease-in-out, border .15s ease-in-out, box-shadow .15s ease-in-out, color .15s ease-in-out;
    padding: 1rem;
    border-radius: .375rem;
    font-family: cursive;
}

.control {
    /* padding: 23px 1px 1px 1px; */
    /* text-align: center; */
    vertical-align: middle;
    background-color: #d9e3f1;

    border: none;
    box-shadow: 5px 5px 10px rgba(55, 94, 148, .2), -5px -5px 10px rgba(255, 255, 255, .4);
    transition: background-color .15s ease-in-out, border .15s ease-in-out, box-shadow .15s ease-in-out, color .15s ease-in-out;
    padding: 2rem 0rem 2rem 0;
    border-radius: .375rem;
}

.app-brand {
    font-size: 35px;
    font-weight: 200;

}

.my-nav {
    font-size: 18px !important;
}

.nav-container {
    /* padding: 23px 1px 1px 1px; */
    text-align: center;
    vertical-align: middle;
    background-color: #d9e3f1;

    border: none;
    box-shadow: 5px 5px 10px rgba(55, 94, 148, .2), -5px -5px 10px rgba(255, 255, 255, .4);
    transition: background-color .15s ease-in-out, border .15s ease-in-out, box-shadow .15s ease-in-out, color .15s ease-in-out;
    padding: 1rem;
    border-radius: .375rem;
}


.nav-pills .nav-link.active {
    background-color: #ff0000;
}




.form-control:focus {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.btn:active,
.btn:active:focus,
.btn:focus,
.btn:hover {
    background-color: #d9e3f1;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.text-primary {
    --bs-text-opacity: 1;
    color: #485785 !important;
}

.ag-theme-alpine {
    font-family: cursive;

    color: #485785 !important;
    --ag-header-background-color: #f5f5f552 !important;
    --ag-alpine-active-color: rgba(255, 0, 0, 0.6) !important;
    --ag-selected-row-background-color: rgba(72, 87, 133, 0.1);
}

.ag-theme-alpine,
.ag-header-row {
    color: #7b8ab8f9 !important;

}



.ag-theme-alpine,
.ag-theme-alpine-dark,
.ag-theme-alpine-auto-dark {

    --ag-background-color: transparent !important;
    --ag-border-color: transparent !important;
}

.ag-body,
/* .ag-layout-normal {
    height: 5px !important;
} */

#crossfilter-example {
    max-height: 250px !important;
}

.nav-tabs .nav-item {
    box-shadow: 0;

}

.nav-tabs {

    --bs-nav-tabs-border-radius: 10px;
    --bs-nav-tabs-link-active-bg: #e52527;

}